.App {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.content .left-article-list {
  width: 20%;
  list-style: none;
  background-color: aquamarine;
  padding-left: 1em;
}

.content .left-article-list .query-area {
  width: 100%;
  display: flex;
  color: #282828;
  flex-direction: row;
  justify-content: space-evenly;
}

.content .left-article-list .article-list-card {
  display: flex;
  flex-direction: row;
  margin: 5px;
  background-color: white;
  padding: 10px;
}

.content .left-article-list .article-list-card :hover {
  background-color: darkcyan;
}

.content .left-article-list .article-list-card .article-list-card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.content .left-article-list .article-list-card .article-list-card-text p {
  margin: 0;
  color: black;
  letter-spacing: 0.4px;
  font-size: small;
}

.content .article-list-card-interactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content .content-area {
  width: 60%;
  margin: 0 auto;
}

.navigation {
  background-color: #333;
  margin-bottom: 5px;
}

.navigation a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* .navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
} */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.two {
  background-color: red;
}

.three {
  background-color: yellow;
}

.four {
  background-color: orange;
}

.navigation .navigation-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-container ul {
  list-style: none;
  display: flex;
}

.menu-container li {
  margin-right: 1em;
}

.userInfo {
  color: blue;
  position: absolute;
  right: 5%;
}

.article-card-holder {
  display: flex;
  flex-direction: row;
}

.article-card-text {
  justify-content: left;
  text-align: left;
  width: 90%;
}

.article-card-voting {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10%;
}

.comment-card-holder {
  display: flex;
  flex-direction: row;
}

.comment-card-voting {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10%;
}

.comment-card-holder ul {
  list-style: none;
}

.comment-card-text {
  justify-content: left;
  text-align: left;
  width: 90%;
}
