.App {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
}

.content .left-article-list {
  width: 25%;
  list-style: none;
  background-color: aquamarine;
  padding-left: 1em;
}

.content .left-article-list .query-area {
  width: 100%;
  display: flex;
  color: #282828;
  flex-direction: row;
}

.content .content-area {
  width: 60%;
  margin: 0 auto;
}

.navigation {
  background-color: bisque;
}

.navigation .navigation-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
