.App {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.content .left-article-list {
  width: 20%;
  list-style: none;
  background-color: aquamarine;
  padding-left: 1em;
}

.content .left-article-list .query-area {
  width: 100%;
  display: flex;
  color: #282828;
  flex-direction: row;
  justify-content: space-evenly;
}

.content .left-article-list .article-list-card {
  display: flex;
  flex-direction: row;
  margin: 5px;
  background-color: white;
  padding: 10px;
}

.content .left-article-list .article-list-card :hover {
  background-color: darkcyan;
}

.content .left-article-list .article-list-card .article-list-card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.content .left-article-list .article-list-card .article-list-card-text p {
  margin: 0;
  color: black;
  letter-spacing: 0.4px;
  font-size: small;
}

.content .article-list-card-interactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content .content-area {
  width: 60%;
  margin: 0 auto;
}

.navigation {
  background-color: bisque;
}

.two {
  background-color: red;
}

.three {
  background-color: yellow;
}

.four {
  background-color: orange;
}

.navigation .navigation-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.article-card-holder {
  display: flex;
  flex-direction: row;
}

.article-card-text {
  justify-content: left;
  text-align: left;
}

.article-card-voting {
  justify-content: space-between;
  background-color: red;
}

.article-card-voting ul {
  list-style: none;
  justify-content: space-between;
}

.comment-card-holder {
  display: flex;
  flex-direction: row;
}

.comment-card-holder ul {
  list-style: none;
}
